{% load el_pagination_tags %}
<div class="card-body">
  <div class="row">
    {% paginate 3 blog_tutorials using "blog_tutorial_page" %}
    {% for blog_tutorial in blog_tutorials %}
    <div class="col-md-4 mb-3">
      <a href="{{ blog_tutorial.blog_tutorial_link }}" target="_blank">
        <img src="{{ blog_tutorial.blog_tutorial_logo.url }}" style="width: 100%;">
      </a>
      <p><h4><a href="{{ blog_tutorial.blog_tutorial_link }}" target="_blank">{{ blog_tutorial.blog_tutorial_title }}</a></h4></p>
      <p><h5>{{ blog_tutorial.blog_tutorial_date }}</h5></p>
    </div>
    {% endfor %}
  </div>
  <div class="text-center">
    <div class="pagination">
      {% show_pages %}
    </div>
  </div>
</div>