{% extends 'base.html' %}
{% load static %}
{% block extra_head %}
  <link href="{% static 'developers/css/developers.css' %}" rel="stylesheet"/>
{% endblock %}
{% block title %}Developers{% endblock %}
{% block section %}Developers{% endblock %}

{% block content %}

  {% load el_pagination_tags %}

  <!-- Links -->
  <h3 class="title mt-5">Links</h3>
  <div class="card-body">
    <div class="row">
      <div class="col-sm-4 mb-5">
        <h3><p><a href="https://github.com/icon-project" target="_blank">ICON Project Github</a></p></h3>
      </div>
      <div class="col-sm-4 mb-5">
        <h3><p><a href="https://icondev.io" target="_blank">ICON Developer Portal</a></p></h3>
      </div>
      <div class="col-sm-4 mb-5">
        <h3><p><a href="https://t.me/icondev" target="_blank">ICON Dev Telegram</a></p></h3>
      </div>
    </div>
  </div>

  <!-- Tutorials -->
  <h3 class="title mt-5">Tutorials</h3>

  <h3 class="mt-5">Blog Tutorial</h3>
  <div class="endless_page_template">
      {% include "developers/blog_tutorial_page.html" %}
  </div>
  <br><br>

  <h3 class="mt-5">Video Tutorial</h3>
  <div class="endless_page_template">
      {% include "developers/video_tutorial_page.html" %}
  </div>

  <h3 class="title mt-5">Presentations</h3>
  <h3 class="mt-5">Video Presentation</h3>
  <div class="endless_page_template">
      {% include "developers/video_presentation_page.html" %}
  </div>


{% endblock %}

{% block extra_js %}
  <script src="{% static 'el-pagination/js/el-pagination.js' %}"></script>
  <script>$.endlessPaginate();</script>
{% endblock %}