{% extends 'base.html' %}
{% load static %}
{% block extra_head %}
  <link href="{% static 'developers/css/developers.css' %}" rel="stylesheet"/>
  <script>
    var minicard_list = {};
  </script>
{% endblock %}
{% block title %}Developers{% endblock %}
{% block section %}Developers{% endblock %}

{% block content %}

  {% load el_pagination_tags %}

  <!-- Links -->
  <h3 class="title mt-5">Official Links</h3>
  <div class="card-body">
    <div class="row">
      <div class="col-sm-4 mb-5">
        <a href="https://github.com/icon-project" target="_blank">
          {% if nightmode == True %}
            <img id="github" src="{% static 'developers/img/github-512_w.png' %}" class="mainlink">
          {% else %}
            <img id="github" src="{% static 'developers/img/github-512.png' %}" class="mainlink">
          {% endif %}
        </a>
        <br><br>
        <h3><p><a href="https://github.com/icon-project" target="_blank">ICON Project Github</a></p></h3>
      </div>
      <div class="col-sm-4 mb-5">
        <a href="https://icondev.io" target="_blank">
          {% if nightmode == True %}
            <img id="developer" src="{% static 'developers/img/developers-512_w.png' %}" class="mainlink">
          {% else %}
            <img id="developer" src="{% static 'developers/img/developers-512.png' %}" class="mainlink">
          {% endif %}
        </a>
        <br><br>
        <h3><p><a href="https://icondev.io" target="_blank">ICON Developer Portal</a></p></h3>
      </div>
      <div class="col-sm-4 mb-5">
        <a href="https://t.me/icondev" target="_blank">
          {% if nightmode == True %}
            <img id="telegram" src="{% static 'developers/img/telegram-512_w.png' %}" class="mainlink">
          {% else %}
            <img id="telegram" src="{% static 'developers/img/telegram-512.png' %}" class="mainlink">
          {% endif %}
        </a>
        <br><br>
        <h3><p><a href="https://t.me/icondev" target="_blank">ICON Dev Telegram</a></p></h3>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 mb-5">
        <a href="https://www.slideshare.net/helloiconworld" target="_blank">
          {% if nightmode == True %}
            <img id="slideshare" src="{% static 'developers/img/slideshare_w.png' %}" class="mainlink">
          {% else %}
            <img id="slideshare" src="{% static 'developers/img/slideshare.png' %}" class="mainlink">
          {% endif %}
        </a>
        <br><br>
        <h3><p><a href="https://www.slideshare.net/helloiconworld" target="_blank">ICON SlideShare</a></p></h3>
      </div>
    </div>
  </div>

  <!-- Tutorials -->
  <h3 class="title mt-5">Tutorials</h3>

  <h3 class="mt-5 mb-0">Blog Tutorial</h3>
  <div class="endless_page_template">
      {% include "developers/blog_tutorial_page.html" %}
  </div>
  <br><br>

  <h3 class="mt-5 mb-0">Video Tutorial</h3>
  <div class="endless_page_template">
      {% include "developers/video_tutorial_page.html" %}
  </div>

  <h3 class="title mt-5">Presentations</h3>
  <h3 class="mt-5">Video Presentation</h3>
  <div class="endless_page_template">
      {% include "developers/video_presentation_page.html" %}
  </div>

  <!-- Tools -->
  <h3 class="title mt-5">Tools</h3>

    <!-- Reward Calculator -->
    <h3 class="mt-5">Reward Calculator</h3>
    <div class="row-flex">
      {% for reward_calculator in reward_calculators %}
      <script>minicard_list[{{ reward_calculator.id }}] = ["{{ reward_calculator.minicard_logo_w.url }}", "{{ reward_calculator.minicard_logo.url }}"];</script>
      <a target="_blank" href="{{ reward_calculator.minicard_link }}" class="sblock">
        {% if nightmode == True %}
          <img id="{{ reward_calculator.id }}" src="{{ reward_calculator.minicard_logo_w.url }}">
        {% else %}
          <img id="{{ reward_calculator.id }}" src="{{ reward_calculator.minicard_logo.url }}">
        {% endif %}
        <div class="title">{{ reward_calculator.minicard_title }}</div>
        <div class="description">{{ reward_calculator.minicard_description }}</div>
      </a>
      {% endfor %}
    </div>

    <!-- SCORE -->
    <h3 class="mt-5">SCORE</h3>
    <div class="row-flex">
      {% for score in scores %}
      <script>minicard_list[{{ score.id }}] = ["{{ score.minicard_logo_w.url }}", "{{ score.minicard_logo.url }}"];</script>
      <a target="_blank" href="{{ score.minicard_link }}" class="sblock">
        {% if nightmode == True %}
          <img id="{{ score.id }}" src="{{ score.minicard_logo_w.url }}">
        {% else %}
          <img id="{{ score.id }}" src="{{ score.minicard_logo.url }}">
        {% endif %}
        <div class="title">{{ score.minicard_title }}</div>
        <div class="description">{{ score.minicard_description }}</div>
      </a>
      {% endfor %}
    </div>

    <!-- Wallet -->
    <h3 class="mt-5">Wallet</h3>
    <div class="row-flex">
      {% for wallet in wallets %}
      <script>minicard_list[{{ wallet.id }}] = ["{{ wallet.minicard_logo_w.url }}", "{{ wallet.minicard_logo.url }}"];</script>
      <a target="_blank" href="{{ wallet.minicard_link }}" class="sblock">
        {% if nightmode == True %}
          <img id="{{ wallet.id }}" src="{{ wallet.minicard_logo_w.url }}">
        {% else %}
          <img id="{{ wallet.id }}" src="{{ wallet.minicard_logo.url }}">
        {% endif %}
        <div class="title">{{ wallet.minicard_title }}</div>
        <div class="description">{{ wallet.minicard_description }}</div>
      </a>
      {% endfor %}
    </div>

    <!-- Database -->
    <h3 class="mt-5">Database</h3>
    <div class="row-flex">
      {% for db in dbs %}
      <script>minicard_list[{{ db.id }}] = ["{{ db.minicard_logo_w.url }}", "{{ db.minicard_logo.url }}"];</script>
      <a target="_blank" href="{{ db.minicard_link }}" class="sblock">
        {% if nightmode == True %}
          <img id="{{ db.id }}" src="{{ db.minicard_logo_w.url }}">
        {% else %}
          <img id="{{ db.id }}" src="{{ db.minicard_logo.url }}">
        {% endif %}
        <div class="title">{{ db.minicard_title }}</div>
        <div class="description">{{ db.minicard_description }}</div>
      </a>
      {% endfor %}
    </div>

    <!-- IDE -->
    <h3 class="mt-5">IDE</h3>
    <div class="row-flex">
      {% for ide in ides %}
      <script>minicard_list[{{ ide.id }}] = ["{{ ide.minicard_logo_w.url }}", "{{ ide.minicard_logo.url }}"];</script>
      <a target="_blank" href="{{ ide.minicard_link }}" class="sblock">
        {% if nightmode == True %}
          <img id="{{ ide.id }}" src="{{ ide.minicard_logo_w.url }}">
        {% else %}
          <img id="{{ ide.id }}" src="{{ ide.minicard_logo.url }}">
        {% endif %}
        <div class="title">{{ ide.minicard_title }}</div>
        <div class="description">{{ ide.minicard_description }}</div>
      </a>
      {% endfor %}
    </div>

{% endblock %}

{% block pre_extra_js %}
  <script>
  function morning_image(){
    for(var key in minicard_list){
        $('#'+key).attr("src", minicard_list[key][1]);
    }
    $('#github').attr("src", "{% static 'developers/img/github-512.png' %}");
    $('#developer').attr("src", "{% static 'developers/img/developers-512.png' %}");
    $('#telegram').attr("src", "{% static 'developers/img/telegram-512.png' %}");
    $('#slideshare').attr("src", "{% static 'developers/img/slideshare.png' %}");
  }

  function night_image(){
    for(var key in minicard_list){
        $('#'+key).attr("src", minicard_list[key][0]);
    }
    $('#github').attr("src", "{% static 'developers/img/github-512_w.png' %}");
    $('#developer').attr("src", "{% static 'developers/img/developers-512_w.png' %}");
    $('#telegram').attr("src", "{% static 'developers/img/telegram-512_w.png' %}");
    $('#slideshare').attr("src", "{% static 'developers/img/slideshare_w.png' %}");
  }
  </script>
{% endblock %}

{% block extra_js %}
  <script src="{% static 'el-pagination/js/el-pagination.js' %}"></script>
  <script>$.endlessPaginate();</script>
{% endblock %}

