{% load el_pagination_tags %}
<div class="card-body">
  <div class="row">
    {% paginate 3 video_tutorials using "video_tutorial_page" %}
    {% for video_tutorial in video_tutorials %}
    <div class="col-md-4 mb-3">
      <a href="{{ video_tutorial.tutorial_link }}" target="_blank">
        <img src="{{ video_tutorial.tutorial_logo.url }}" class="blog-tutorial-img">
      </a>
      <p><h4><a href="{{ video_tutorial.tutorial_link }}" target="_blank">{{ video_tutorial.tutorial_title }}</a></h4></p>
      <p><h5>{{ video_tutorial.tutorial_date }}</h5></p>
    </div>
    {% endfor %}
  </div>
  <div class="text-center">
    <div class="pagination">
      {% show_pages %}
    </div>
  </div>
</div>