{% extends 'base.html' %}
{% load static i18n %}
{% block extra_head %}
<link href="{% static 'prep/css/prep.css' %}" rel="stylesheet">
<style type="text/css">
  table.tablesorter thead tr .header {
    background-image: url({% static 'prep/img/bg.gif' %});
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
  }

  table.tablesorter thead tr .headerSortUp {
    background-image: url({% static 'prep/img/asc.gif' %});
  }

  table.tablesorter thead tr .headerSortDown {
    background-image: url({% static 'prep/img/desc.gif' %});
  }
</style>
{% endblock %}
{% block title %}GOVERNANCE VARIABLE{% endblock %}
{% block section %}GOVERNANCE VARIABLE{% endblock %}
{% block content %}
<div class="row">
{% if getPRep %}
  <div class="col-md-6">
    <div class="card">

      <div class="card-header">
        <h4 class="card-title" id="iRepUpdateBlockHeight">&nbsp;</h4>
      </div>

      <div class="card-body">
        <div class="form-inline">
          <input id="irep" class="form-control" type="number" step="1" size="32">
          <button id="iRepUpdate" type="submit" class="btn btn-primary">Update</button>
        </div>
      </div>
    </div>
  </div>
{% endif %}

  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Current irep</h4>
      </div>
      <div class="card-body">
        <H2 id="currentIRep"></H2>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12 mb-5">
    <div class="card ">
      <div class="card-header">
        <h2 class="card-title">P-Rep Ranking</h2>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table tablesorter " id="prep-table">
            <thead class=" text-primary">
              <tr>
                <th class="text-center">#</th>
                <th class="text-center">Name</th>
                <th class="text-center">i_rep</th>
                <th class="text-center">i_rep Updated</th>
                <th class="text-center">Staked(ICX)</th>
                <th class="text-center">Delegated(ICX)</th>
              </tr>
            </thead>
            <tbody>
              {% for item in dataList %}
              <tr>
                <td class="text-center">{{forloop.counter}}</td>
                <td class="text-center">{{item.name}}</td>
                <td class="text-center hex2dec loop2icx">{{item.irep}}</td>
                <td class="text-center hex2dec">{{item.irepUpdateBlockHeight}}</td>
                <td class="text-center hex2dec loop2icx">{{item.stake}}</td>
                <td class="text-center hex2dec loop2icx">{{item.delegated}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/plugins/jquery.tablesorter.js' %}"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js"></script>
<script>
  $(document).ready(function () {
    const MAIN_NET = "https://ctz.solidwallet.io/api/v3";
    const TEST_NET = "https://bicon.net.solidwallet.io/api/v3";
    const TEMP_NET = "https://devorg.icon.foundation/api/v3";
    const DEV_NET = "http://20.20.7.156:9000/api/v3";
    const DUMMY_NET = "http://localhost:9000/api/v3";
    const TO_CONTRACT = "cx0000000000000000000000000000000000000000";

    const IconService = window['icon-sdk-js'];
    const provider = new IconService.HttpProvider({{ USE_NET_NAME }});
    const icon_service = new IconService(provider);
    const IconBuilder = IconService.IconBuilder;
    const IconConverter = IconService.IconConverter;

    async function json_rpc_call(method_name, params) {
      var callBuilder = new IconBuilder.CallBuilder();
      var callObj = callBuilder
        .to(TO_CONTRACT)
        .method(method_name)
        .params(params)
        .build();
      return await icon_service.call(callObj).execute();
    }

    async function json_rpc_transaction_call(from_wallet, method_name, params) {
      // Need to sign or send to ICONex
      let timestamp = new Date();
      var txBuilder = new IconBuilder.CallTransactionBuilder();
      var txObj = txBuilder
        .from(from_wallet)
        .to(TO_CONTRACT)
        .nid(IconConverter.toBigNumber("3"))
        .version(IconConverter.toBigNumber("3"))
        .stepLimit(IconConverter.toBigNumber("10000000"))
        .timestamp(timestamp * 1000)
        .method(method_name)
        .params(params)
        .build();

      const scoreData = JSON.stringify({
        "jsonrpc": "2.0",
        "method": "icx_sendTransaction",
        "params": IconConverter.toRawTransaction(txObj),
        "id": 44
      });

      const parsed = JSON.parse(scoreData);
      window.dispatchEvent(new CustomEvent('ICONEX_RELAY_REQUEST', {
        detail: {
          type: 'REQUEST_JSON-RPC',
          payload: parsed
        }
      }));

      //return await icon_service.call(txObj).execute();
    }

    $('.hex2dec').each(function(index, item){
      if(item.classList.contains('loop2icx')){
        item.innerHTML = numeral(parseInt(item.innerHTML)/(10**18)).format('0,00');
      } else {
        item.innerHTML = numeral(parseInt(item.innerHTML)).format('0,00');
      }
    });

    $('#irep').val(numeral(parseInt("{{ getPRep.irep }}")/(10**18)).format('0'));

    $.ajax({
      url:{{USE_NET_NAME}},
      type:'POST',
      data:JSON.stringify({
        "jsonrpc":"2.0",
        "id":"0",
        "method":"icx_getBlockByHeight",
        "params":{
          "height":"{{getPRep.irepUpdateBlockHeight}}"
        }
      }),
      dataType:"json",
      success:function(res){
        let date = new Date(res.result.time_stamp);
        $('#iRepUpdateBlockHeight').append("Update i_rep at " + parseInt("{{ getPRep.irepUpdateBlockHeight }}") + "(" + date.toString() + ")");
      },
      error:function(res){
        console.log("getBlock Error", res);
      }
    })

    result = json_rpc_call("getIISSInfo", {})
    .then(function(res){
      console.log("current", res.variable.irep);
      $('#currentIRep').append(numeral(parseInt(res.variable.irep)/(10**18)).format('0,00'));
    });

    $('#iRepUpdate').click(function () {
      let irepsend = IconConverter.toBigNumber(parseInt($('#irep').val())*(10**18));
      console.log(irepsend);
      json_rpc_transaction_call("{{ fromAddress }}", "setGovernanceVariables", {
        "irep": IconConverter.toHex(parseInt($('#irep').val())*(10**18))
      });
    });

    $.tablesorter.addParser({
      id: "fancyNumber",
      is: function (s) {
        return /^[0-9]?[0-9,\.]*$/.test(s);
      },
      format: function (s) {
        return jQuery.tablesorter.formatFloat(s.replace(/,/g, ''));
      },
      type: "numeric"
    });

    $("#prep-table").tablesorter({
      headers: {
        2: {
          sorter: 'fancyNumber'
        },
        3: {
          sorter: 'fancyNumber'
        },
        4: {
          sorter: 'fancyNumber'
        },
        5: {
          sorter: 'fancyNumber'
        },
      }
    });
  });
</script>
{% endblock %}