{% extends 'base.html' %}
{% load static i18n %}
{% block extra_head %}
  <link href="{% static 'prep/css/prep.css' %}" rel="stylesheet">
  <style type="text/css">
    table.tablesorter thead tr .header {
    background-image: url({% static 'prep/img/bg.gif' %});
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer; }

    table.tablesorter thead tr .headerSortUp {
      background-image: url({% static 'prep/img/asc.gif' %});
    }

    table.tablesorter thead tr .headerSortDown {
      background-image: url({% static 'prep/img/desc.gif' %});
    }
  </style>
{% endblock %}
{% block title %}GOVERNANCE VARIABLE{% endblock %}
{% block section %}GOVERNANCE VARIABLE{% endblock %}
{% block content %}

<div class="row">
  <div class="col-md-6">
    <div class="card">

      <div class="card-header">
        <h4 class="card-title">Update i_rep at {{ irepUpdateBlockHeight }}</h4>
      </div>

      <div class="card-body">
        <div class="form-inline">
          <input class="form-control" type="text" size="32" value="{{irep}}">
          <button type="submit" class="btn btn-primary">Update</button>
        </div>

      </div>

    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12 mb-5">
    <div class="card ">
      <div class="card-header">
        <h2 class="card-title">P-Rep Ranking</h2>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table tablesorter " id="prep-table">
            <thead class=" text-primary">
              <tr>
                <th class="text-center">#</th>
                <th class="text-center">Name</th>
                <th class="text-center">i_rep</th>
                <th class="text-center">i_rep Updated</th>
                <th class="text-center">Stake</th>
                <th class="text-center">Delegated</th>
              </tr>
            </thead>
            <tbody>
            {% for item in dataList %}
              <tr>
                <td class="text-center">{{forloop.counter}}</td>
                <td class="text-center">{{item.name}}</td>
                <td class="text-center">{{item.irep}}</td>
                <td class="text-center">{{item.irepUpdatBlockHeight}}</td>
                <td class="text-center">{{item.stake}}</td>
                <td class="text-center">{{item.delegated}}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block extra_js %}
  <script src="{% static 'js/plugins/jquery.tablesorter.js' %}"></script>
  <script>
    $(document).ready(function() {
      const MAIN_NET = "https://ctz.solidwallet.io/api/v3";
      const TEST_NET = "https://bicon.net.solidwallet.io/api/v3";
      const TEMP_NET = "https://devorg.icon.foundation/api/v3";
      const TO_CONTRACT = "cx0000000000000000000000000000000000000000";

      const IconService = window['icon-sdk-js'];
      const provider = new IconService.HttpProvider(TEMP_NET);
      const icon_service = new IconService(provider);
      const IconBuilder = IconService.IconBuilder;

      async function json_rpc_call(method_name, params){
          var callBuilder = new IconBuilder.CallBuilder();
          var callObj = callBuilder
              .to(TO_CONTRACT)
              .method(method_name)
              .params(params)
              .build();
          return await icon_service.call(callObj).execute();
      }

      async function json_rpc_transaction_call(from_wallet, method_name, params){
          // Need to sign or send to ICONex
          var txBuilder = new IconBuilder.CallTransactionBuilder();
          var txObj = txBuilder
              .from(from_wallet)
              .to(TO_CONTRACT)
              .method(method_name)
              .params(params)
              .build();
          return await icon_service.call(txObj).execute();
      }
      $.tablesorter.addParser({
        id: "fancyNumber",
        is: function(s) {
          return /^[0-9]?[0-9,\.]*$/.test(s);
        },
        format: function(s) {
          return jQuery.tablesorter.formatFloat( s.replace(/,/g,'') );
        },
        type: "numeric"
      });
      $("#prep-table").tablesorter({
        headers: {
            2 : { sorter: 'fancyNumber' },
            3 : { sorter: 'fancyNumber' },
            4 : { sorter: 'fancyNumber' },
            5 : { sorter: 'fancyNumber' },
        }
      });
    });
  </script>
{% endblock %}