/* Font */
h1 {
    font-family: 'Montserrat';
    font-weight: 700;
    margin-top: 30px;
}

.white-content .lead {
    font-size: 18px;
    font-weight: 500;
    color: #666666!important;
}

.lead {
    font-size: 18px;
    font-weight: 500;
    color: rgba(255,255,255,0.5)!important;
}

.notofont {
    font-family: 'Noto Sans', sans-serif;
}

/* Night Mode */
.white-content h6 {
    color: #1D253B;
    font-weight: bold;
}

h6 {
    color: rgba(255,255,255,0.8);
    font-weight: bold;
}

/* Candidate Listing */
.table-responsive {
    padding: 15px;
}

.table-responsive table tbody tr td {
    border-color: rgba(0, 0, 0, 0.1);
    padding: 12px 7px;
    vertical-align: middle;
    color: #333333;
}

.white-content caption {
  padding-top: 2rem;
  color: #6c757d;
  text-align: left;
  caption-side: bottom;
}

caption {
  padding-top: 2rem;
  color: rgba(255,255,255,0.7);
  text-align: left;
  caption-side: bottom;
}

.white-content .table-responsive table tbody tr:hover {
  background: #f9f9f9;
}

.table-responsive table tbody tr:hover {
  background: rgba(255,255,255,0.1);
}

#gmap {
  height: 500px;
  margin-bottom: 25px;
  border-radius: .25rem;
}
.customMarker {
  position: absolute;
  cursor: pointer;
  background: #ffffff;
  width: 70px;
  height: 70px;
  /* -width/2 */
  margin-left: -50px;
  /* -height + arrow */
  margin-top: -110px;
  border-radius: 50%;
  padding: 0px;
}

.customMarker:after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 25px;
  border-width: 10px 10px 0;
  border-style: solid;
  border-color: #ffffff transparent;
  display: block;
  width: 0;
}

.customMarker img {
  width: 60px;
  height: 60px;
  margin: 5px;
  border-radius: 50%;
}

/* Candidate Detail */

.white-content .cardbg {
    background-color: #ffffff!important;
}

.cardbg {
    background-color: rgba(255,255,255,0.1);
}

.white-content .social [class*="fab fa-"] {
  margin-left: 5px;
  color: #1D253B;
}

.social [class*="fab fa-"] {
  margin-left: 5px;
  color: rgba(255,255,255,0.7);
}

.social [class*="fab fa-"]:hover {
  color: #1aaaba;
}

.white-content .social [class*="fas fa-"] {
  margin-left: 5px;
  color: #1D253B;
}

.social [class*="fas fa-"] {
  margin-left: 5px;
  color: rgba(255,255,255,0.7);
}

.social [class*="fas fa-"]:hover {
  color: #1aaaba;
}

.avatar {
    object-fit: contain;
    width: 125px;
    height: 125px;
    display: inline-block;
}