/* Font */
h1 {
    font-family: 'Montserrat';
    font-weight: 700;
}

.white-content .lead {
    font-size: 18px;
    font-weight: 500;
    color: #666666!important;
}

.lead {
    font-size: 18px;
    font-weight: 500;
    color: rgba(255,255,255,0.5)!important;
}

.notofont {
    font-family: 'Noto Sans', sans-serif;
}

/* Night Mode */
.white-content h6 {
    color: #333333!important;
}

h6 {
    color: rgba(255,255,255,0.7)!important;
}

/* Candidate Listing */
.table-responsive {
    padding: 15px;
}

.table-responsive table tbody tr td {
    border-color: rgba(0, 0, 0, 0.1);
    padding: 12px 7px;
    vertical-align: middle;
    color: #333333;
}