h3.mt-5 {
  margin-top: 0!important;
}

.card-body {
  padding: 0!important;
}

.collapsing {
  transition: none !important;
}

.sidebar .nav li.active > a[data-toggle="collapse"]:before {
  left: -5px !important;
}

.sidebar .nav li.active > a:not([data-toggle="collapse"]):before, .off-canvas-sidebar .nav li.active > a:not([data-toggle="collapse"]):before {
  top: 22px !important;
}

li.active span {
  color: #FFFFFF !important;
}

.pagination {
  display: inline-block;
}

.white-content .pagination a, .pagination span.endless_page_current, .pagination span.endless_separator {
  color: black!important;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  border: 1px solid #ddd;
}

.pagination a {
  color: white!important;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  border: 1px solid #666;
}

.pagination span.endless_page_current {
  background-color: #1aaaba;
  color: white!important;
  border: 1px solid #1aaaba!important;
}

.white-content .pagination a:hover:not(.active) {
  background-color: #ddd!important;
}

.pagination a:hover:not(.active) {
  background-color: #666;
}

.pagination a:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.pagination a:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.blog-tutorial-img {
  min-height: 260px;
  width: 100%;
  object-fit: contain;
}

/* Tools styling */

.row-flex {
    display: flex;
    flex-wrap: wrap;
    margin: 0px -6px 32px;
}

.row-flex > * {
    margin: 0px 6px 12px;
}

.sblock {
    display: block;
    color: inherit;
    cursor: pointer;
    line-height: 1.25;
    width: calc(25% - 12px);
    min-width: 200px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(204, 204, 204);
    border-image: initial;
    padding: 12px;
    border-radius: 4px;
    text-decoration: none;
    transition: all 0.1s ease 0s;
}

@media (max-width: 441px){
    .sblock {
        width: calc(100% - 12px);
    }
}

.sblock img {
    float: left;
    margin-right: 12px;
    max-width: 50px;
    border-radius: 3px;
}
img {
    vertical-align: middle;
    border-style: none;
}

.sblock .title {
    color: rgba(26, 170, 186, 1);
    font-size: 15px;
    margin-bottom: 2px;
}

.sblock .description {
    font-size: 12px;
}

a {
    cursor: pointer!important;
}

.mainlink {
    width: 64px;
    height: 64px;
}