{% load el_pagination_tags %}
<div class="card-body">
  <div class="row">
    {% paginate 6 official_dapps using "official_dapp_page" %}
    {% for official_dapp in official_dapps %}
    <div class="col-md-4 mb-3">
      <a href="{{ official_dapp.official_dapps_link }}">
        <img class="logo" src="{{ official_dapp.official_dapp_logo.url }}">
        <h4><a href="{{ official_dapp.official_dapp_link }}">{{ official_dapp.official_dapp_title }}</a></h4>
        <h6>{{ official_dapp.official_dapp_category }}</h6>

      </a>
      <span class="desc">{{ official_dapp.official_dapp_description }}</span>
    </div>
    {% endfor %}
  </div>
  <div class="text-center">
    <div class="pagination">
      {% show_pages %}
    </div>
  </div>
</div>