{% extends 'base.html' %}
{% load static i18n %}
{% load humanize %}
{% block extra_head %}
  <link href="{% static 'dashboard/css/dashboard.css' %}" rel="stylesheet"/>
{% endblock %}
{% block title %}Dashboard{% endblock %}
{% block section %}Dashboard{% endblock %}
{% block content %}
  <!-- Ranking -->
  <div class="row">

    <!-- Block Producer Ranking -->
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h2 class="card-title">P-Rep Rankings</h2>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table ranking">
              <thead class="text-primary">
              <tr>
                <th>#</th>
                <th>Name</th>
                <th>Country</th>
                <th>Grade</th>
                <th>i_rep</th>
                <th>Stake</th>
                <th>Delegated</th>
                <th>Validated Blocks</th>
                <th>Total Blocks</th>
              </tr>
              </thead>
              <tbody>

              {% include "dashboard/prepranking.html" %}

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <!-- Rep cards -->
    <div class="col-lg-3 col-md-6">
      <div class="card card-stats">
        <div class="card-body">
          <div class="row">
            <div class="col-5">
              <div class="info-icon text-center icon-success">
                <i class="tim-icons icon-single-02"></i>
              </div>
            </div>
            <div class="col-7">
              <div class="numbers">
                <p class="card-category">Main P-Reps</p>
                <h3 class="card-title">22</h3>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <hr>
          <div class="stats">
            <a href="{% url 'preplist' 'main' %}"><i class="tim-icons icon-double-right"></i> Full List</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="card card-stats">
        <div class="card-body">
          <div class="row">
            <div class="col-5">
              <div class="info-icon text-center icon-primary">
                <i class="tim-icons icon-single-02"></i>
              </div>
            </div>
            <div class="col-7">
              <div class="numbers">
                <p class="card-category">Sub P-Reps</p>
                <h3 class="card-title">78</h3>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <hr>
          <div class="stats">
            <a href="{% url 'preplist' 'sub' %}"><i class="tim-icons icon-double-right"></i> Full List</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="card card-stats">
        <div class="card-body">
          <div class="row">
            <div class="col-5">
              <div class="info-icon text-center icon-info">
                <i class="tim-icons icon-single-02"></i>
              </div>
            </div>
            <div class="col-7">
              <div class="numbers">
                <p class="card-category">Joined P-Reps</p>
                <h3 class="card-title">158</h3>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <hr>
          <div class="stats">
            <a href="{% url 'preplist' 'joined' %}"><i class="tim-icons icon-double-right"></i> Full List</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="card card-stats">
        <div class="card-body">
          <div class="row">
            <div class="col-5">
              <div class="info-icon text-center icon-warning">
                <i class="tim-icons icon-single-02"></i>
              </div>
            </div>
            <div class="col-7">
              <div class="numbers">
                <p class="card-category">Pre-Registered</p>
                <h3 class="card-title">65</h3>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <hr>
          <div class="stats">
            <a href="{% url 'candidates' %}"><i class="tim-icons icon-double-right"></i> Full List</a>
          </div>
        </div>
      </div>
    </div>


    <!-- Bar/Curve charts -->
    <div class="col-lg-4">
      <div class="card card-chart">
        <div class="card-header">
          <h5 class="card-category">Some Curves</h5>
          <h3 class="card-title"><i class="tim-icons icon-bell-55 text-primary"></i> 763,215</h3>
        </div>
        <div class="card-body">
          <div class="chart-area">
            <canvas id="chartLinePurple"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card card-chart">
        <div class="card-header">
          <h5 class="card-category">Some Bars</h5>
          <h3 class="card-title"><i class="tim-icons icon-delivery-fast text-info"></i> 3,500</h3>
        </div>
        <div class="card-body">
          <div class="chart-area">
            <canvas id="CountryChart"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card card-chart">
        <div class="card-header">
          <h5 class="card-category">Some More Curves</h5>
          <h3 class="card-title"><i class="tim-icons icon-send text-success"></i> 12,100</h3>
        </div>
        <div class="card-body">
          <div class="chart-area">
            <canvas id="chartLineGreen"></canvas>
          </div>
        </div>
      </div>
    </div>


    <!-- P-Rep Locations -->
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <h2 class="card-title">P-Rep Locations</h2>
          <p class="card-category">Distribution of P-Rep Nodes</p>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <div class="table-responsive">
                <table class="table">
                  <tbody>
                  <tr>
                    <td>
                      <div class="flag">
                        <img src="{% static 'dashboard/img/US.png' %}" alt="flag">
                      </div>
                    </td>
                    <td>USA</td>
                    <td class="text-right">
                      2.920
                    </td>
                    <td class="text-right">
                      53.23%
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="flag">
                        <img src="{% static 'dashboard/img/DE.png' %}" alt="flag">
                      </div>
                    </td>
                    <td>Germany</td>
                    <td class="text-right">
                      1.300
                    </td>
                    <td class="text-right">
                      20.43%
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="flag">
                        <img src="{% static 'dashboard/img/AU.png' %}" alt="flag">
                      </div>
                    </td>
                    <td>Australia</td>
                    <td class="text-right">
                      760
                    </td>
                    <td class="text-right">
                      10.35%
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="flag">
                        <img src="{% static 'dashboard/img/GB.png' %}" alt="flag">
                      </div>
                    </td>
                    <td>United Kingdom</td>
                    <td class="text-right">
                      690
                    </td>
                    <td class="text-right">
                      7.87%
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="flag">
                        <img src="{% static 'dashboard/img/RO.png' %}" alt="flag">
                      </div>
                    </td>
                    <td>Romania</td>
                    <td class="text-right">
                      600
                    </td>
                    <td class="text-right">
                      5.94%
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="flag">
                        <img src="{% static 'dashboard/img/BR.png' %}" alt="flag">
                      </div>
                    </td>
                    <td>Brasil</td>
                    <td class="text-right">
                      550
                    </td>
                    <td class="text-right">
                      4.34%
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="col-md-6 ml-auto mr-auto">
              <div id="worldMap" style="height: 300px;"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <!-- ICX Price -->
  <div class="row">
    <div class="col-12">
      <div class="card">

        <!-- Card Header -->
        <div class="card-header">
          <div class="row">
            <div class="col-sm-6 text-left"><h2 class="card-title">ICX Price</h2></div>
            <div class="col-sm-6 rate">
              <div class="btn-group btn-group-toggle float-right currency" data-toggle="buttons">
                <label class="btn btn-sm btn-primary btn-simple active" id="0">
                  <input type="radio" name="options" checked>
                  <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block" onclick="toggleCurrency('BTC');">BTC</span>
                  <span class="d-block d-sm-none" onclick="toggleCurrency('BTC');">BTC</span>
                </label>
                <label class="btn btn-sm btn-primary btn-simple" id="1">
                  <input type="radio" class="d-none d-sm-none" name="options">
                  <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block" onclick="toggleCurrency('ETH');">ETH</span>
                  <span class="d-block d-sm-none" onclick="toggleCurrency('ETH');">ETH</span>
                </label>
                <label class="btn btn-sm btn-primary btn-simple" id="2">
                  <input type="radio" class="d-none" name="options">
                  <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block" onclick="toggleCurrency('USD');">USD</span>
                  <span class="d-block d-sm-none" onclick="toggleCurrency('USD');">USD</span>
                </label>
              </div>
            </div>
          </div>
        </div>

        <!-- Card Body -->
        <div class="card-body">
          <div class="part rates">

            <p class="icx-group">
              <span class="icx">1<em>ICX</em></span> <span class="same">=</span>
              <span class="eth" id="eth">0<em>BTC</em></span>
            </p>

            <ul class="content half market-vol-wrap">
              <li class="left">
                <p class="subTitle">Marketcap</p>
                <p><em>B</em>0<em>K</em></p>
              </li>
              <li class="right">
                <p class="subTitle">Volume</p>
                <p><em>B</em>0</p>
              </li>
            </ul>
          </div>
        </div>


      </div>
    </div>
  </div>

  <!-- ICX Market Chart -->
  <div class="row">
    <div class="col-12">
      <div class="card card-chart">
        <!-- Card Header -->
        <div class="card-header">
          <div class="row">
            <div class="col-sm-6 text-left">
              <h2 class="card-title">ICX Chart</h2>
            </div>
            <div class="col-sm-6 duration">
              <div class="btn-group btn-group-toggle float-right" data-toggle="buttons">
                <label class="btn btn-sm btn-primary btn-simple active" id="0">
                  <input type="radio" name="options" checked>
                  <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block" onclick="toggleDuration('DAY');">Day</span>
                  <span class="d-block d-sm-none" onclick="toggleDuration('DAY');">24H</span>
                </label>
                <label class="btn btn-sm btn-primary btn-simple" id="1">
                  <input type="radio" class="d-none d-sm-none" name="options">
                  <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block" onclick="toggleDuration('WEEK');">Week</span>
                  <span class="d-block d-sm-none" onclick="toggleDuration('WEEK');">7D</span>
                </label>
                <label class="btn btn-sm btn-primary btn-simple" id="2">
                  <input type="radio" class="d-none" name="options">
                  <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block" onclick="toggleDuration('MONTH');">Month</span>
                  <span class="d-block d-sm-none" onclick="toggleDuration('MONTH');">30D</span>
                </label>
              </div>
            </div>
          </div>
        </div>
        <!-- Card Body -->
        <div class="card-body">
						<div class="chart">
						  <canvas class="chartCanvas" id="chartCanvas"></canvas>
						</div>
        </div>
      </div>
    </div>
  </div>

  <!-- DAPPs Market Cap -->
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h2 class="card-title">Dapps Market Cap</h2>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-typeI">
              <thead class="text-primary">
              <tr>
                <th class="text-center">#</th>
                <th>Token</th>
                <th>Price (ICX)</th>
                <th>% Change (24h)</th>
                <th>Volume (24h)</th>
                <th>Market Cap (ICX)</th>
              </tr>
              </thead>
              <tbody>

              <tr>
                <td class="text-center">
                  <div class="photo">
                    <img src="{% static 'dashboard/img/ac3.jpg' %}" alt="photo">
                  </div>
                </td>
                <td>AC3 (AC3)</td>
                <td>{{ ac3data.quote.ICX.price|floatformat:"5" }} ICX</td>
                <td id="ac3_change"><span class="rekt">{{ ac3data.quote.ICX.percent_change_24h }}</span></td>
                <td id="ac3_volume">{{ ac3data.quote.ICX.volume_24h|floatformat:0 }}</td>
                <td id="ac3_market_cap">{{ ac3data.quote.ICX.market_cap|floatformat:0 }} </td>
              </tr>

              <!--Not listed
              <tr>
                <td class="text-center">
                  <div class="photo">
                    <img src="{% static 'dashboard/img/mecacoin.png' %}" alt="photo">
                  </div>
                </td>
                <td>MECA Coin (MCA)<p></p></td>
                <td><p>-<em>USD</em></p><p>-<em>ICX</em></p><p>-<em>BTC</em></p><p>-<em>ETH</em></p></td>
                <td>+5%</td>
                <td>500,000 USD</td>
                <td>18,000,000 USD</td>
              </tr>
              -->

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>


{% endblock %}

{% block extra_js %}

  <script src="{% static 'dashboard/js/chartjs.min.js' %}"></script>
  <script src="{% static 'dashboard/js/chart.bundle.min.js' %}"></script>
  <script src="{% static 'dashboard/js/coininfo.js' %}"></script>
  <script src="{% static 'dashboard/js/jquery-jvectormap.js' %}"></script>
  <script src="{% static 'dashboard/js/demo.js' %}"></script>
  <script src="{% static 'el-pagination/js/el-pagination.js' %}"></script>

  <script>
    $(document).ready(function() {
        demo.initDashboardPageCharts();
        demo.initVectorMap();
        var ac3_market_cap = parseFloat($('#ac3_market_cap').text()).toLocaleString();
        var ac3_volume = parseFloat($('#ac3_volume').text()).toLocaleString();
        var ac3_change = parseFloat($('#ac3_change > span').text());

        if (ac3_change > 0) {
            $('#ac3_change > span').addClass('moon');
        } else {
            $('#ac3_change > span').addClass('rekt');
        }

        $('#ac3_market_cap').text(ac3_market_cap+" ICX");
        $('#ac3_volume').text(ac3_volume+" ICX");
        $('#ac3_change > span').text(ac3_change+" %");

        function convertHexToDecimal()
        {
            $('#grade').text(parseInt($('#grade').text(), 16));
            $('#irep').text((parseInt($('#irep').text(), 16)/1000000000000000000).toLocaleString());
            $('#stake').text(parseInt($('#stake').text(), 16));
            $('#delegated').text(parseInt($('#delegated').text(), 16));
            $('#validatedBlocks').text(parseInt($('#validatedBlocks').text(), 16));
            $('#totalBlocks').text(parseInt($('#totalBlocks').text(), 16));
        }
        //convertHexToDecimal();
    });
  </script>


  <script>$.endlessPaginate({pageSelector: 'div#entries'});</script>

{% endblock %}