{% extends 'base.html' %}
{% load static %}
{% block extra_head %}
  <link href="{% static 'dashboard/css/dashboard.css' %}" rel="stylesheet"/>
{% endblock %}
{% block section %}Dashboard{% endblock %}
{% block content %}






  <!-- Ranking -->
  <div class="row">

    <!-- Block Producer Ranking -->
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <!--
          <div class="tools float-right">
            <div class="dropdown">
              <button type="button" class="btn btn-link dropdown-toggle btn-icon" data-toggle="dropdown">
                <i class="tim-icons icon-settings-gear-63"></i>
              </button>
              <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="#pablo">Action</a>
                <a class="dropdown-item" href="#pablo">Another action</a>
                <a class="dropdown-item" href="#pablo">Something else</a>
                <a class="dropdown-item text-danger" href="#pablo">Remove Data</a>
              </div>
            </div>
          </div>
          -->
          <h2 class="card-title">P-Rep Rankings</h2>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table ranking">
              <thead class="text-primary">
              <tr>
                <th>Rank</th>
                <th>Logo</th>
                <th>Block Producer</th>
                <th>ICX Votes</th>
                <th>Voters</th>
                <th>Percent</th>
                <th>Daily Reward</th>
                <th>Location</th>
              </tr>
              </thead>
              <tbody>

              <tr>
                <td>1</td>
                <td>
                  <div class="photo">
                    <img src="{% static 'dashboard/img/iconation.png' %}" alt="photo">
                  </div>
                </td>
                <td>ICONation</td>
                <td>6,168,567</td>
                <td>5,867</td>
                <td>2.01%</td>
                <td>7,288 ICX</td>
                <td>Paris</td>
              </tr>

              <tr>
                <td>2</td>
                <td>
                  <div class="photo">
                    <img src="{% static 'dashboard/img/noris.png' %}" alt="photo">
                  </div>
                </td>
                <td>Noris</td>
                <td>6,168,567</td>
                <td>5,667</td>
                <td>2.00%</td>
                <!--
                <td class="pl-4">
                  <div class="progress-container progress-sm">
                    <div class="progress">
                      <span class="progress-value">60%</span>
                      <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                           aria-valuemax="100" style="width: 60%;"></div>
                    </div>
                  </div>
                </td>
                -->
                <td>7,288 ICX
                </td>
                <td>San Francisco</td>
              </tr>

              <tr>
                <td>3</td>
                <td>
                  <div class="photo">
                    <img src="{% static 'dashboard/img/draiconball.png' %}" alt="photo">
                  </div>
                </td>
                <td>Draicon Ball</td>
                <td>6,168,567</td>
                <td>5,667</td>
                <td>1.99%</td>
                <td>7,288 ICX
                </td>
                <td>Seoul</td>
              </tr>

              <tr>
                <td>4</td>
                <td>
                  <div class="photo">
                    <img src="{% static 'dashboard/img/iconsweden.png' %}" alt="photo">
                  </div>
                </td>
                <td>ICON Sweden</td>
                <td>6,168,567</td>
                <td>5,667</td>
                <td>1.98%</td>
                <td>7,288 ICX
                </td>
                <td>Sweden</td>
              </tr>

              <tr>
                <td>5</td>
                <td>
                  <div class="photo">
                    <img src="{% static 'dashboard/img/iconode.png' %}" alt="photo">
                  </div>
                </td>
                <td>ICONode</td>
                <td>1,234,567</td>
                <td>1,221</td>
                <td>1.93%</td>
                <td>7,288 ICX
                </td>
                <td>Puerto Rico</td>
              </tr>

              <tr>
                <td>6</td>
                <td>
                  <div class="photo">
                    <img src="{% static 'dashboard/img/velic.png' %}" alt="photo">
                  </div>
                </td>
                <td>Velic</td>
                <td>1,088,331</td>
                <td>998</td>
                <td>1.91%</td>
                <td>7,288 ICX
                </td>
                <td>Singapore</td>
              </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <!-- End Block Producer Ranking -->

    <div class="col-lg-3 col-md-6">
      <div class="card card-stats">
        <div class="card-body">
          <div class="row">
            <div class="col-5">
              <div class="info-icon text-center icon-primary">
                <i class="tim-icons icon-single-02"></i>
              </div>
            </div>
            <div class="col-7">
              <div class="numbers">
                <p class="card-category">Main P-Reps</p>
                <h3 class="card-title">22</h3>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <hr>
          <div class="stats">
            <i class="tim-icons icon-double-right"></i> Full List
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="card card-stats">
        <div class="card-body">
          <div class="row">
            <div class="col-5">
              <div class="info-icon text-center icon-warning">
                <i class="tim-icons icon-single-02"></i>
              </div>
            </div>
            <div class="col-7">
              <div class="numbers">
                <p class="card-category">Backup P-Reps</p>
                <h3 class="card-title">121</h3>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <hr>
          <div class="stats">
            <i class="tim-icons icon-double-right"></i> Full List
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="card card-stats">
        <div class="card-body">
          <div class="row">
            <div class="col-5">
              <div class="info-icon text-center icon-primary">
                <i class="tim-icons icon-single-02"></i>
              </div>
            </div>
            <div class="col-7">
              <div class="numbers">
                <p class="card-category">Main C-Reps</p>
                <h3 class="card-title">22</h3>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <hr>
          <div class="stats">
            <i class="tim-icons icon-double-right"></i> Full List
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="card card-stats">
        <div class="card-body">
          <div class="row">
            <div class="col-5">
              <div class="info-icon text-center icon-warning">
                <i class="tim-icons icon-single-02"></i>
              </div>
            </div>
            <div class="col-7">
              <div class="numbers">
                <p class="card-category">Backup C-Reps</p>
                <h3 class="card-title">51</h3>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <hr>
          <div class="stats">
            <i class="tim-icons icon-double-right"></i> Full List
          </div>
        </div>
      </div>
    </div>


    <div class="col-lg-4">
      <div class="card card-chart">
        <div class="card-header">
          <h5 class="card-category">Some Curves</h5>
          <h3 class="card-title"><i class="tim-icons icon-bell-55 text-primary"></i> 763,215</h3>
        </div>
        <div class="card-body">
          <div class="chart-area">
            <canvas id="chartLinePurple"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card card-chart">
        <div class="card-header">
          <h5 class="card-category">Some Bars</h5>
          <h3 class="card-title"><i class="tim-icons icon-delivery-fast text-info"></i> 3,500</h3>
        </div>
        <div class="card-body">
          <div class="chart-area">
            <canvas id="CountryChart"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card card-chart">
        <div class="card-header">
          <h5 class="card-category">Some More Curves</h5>
          <h3 class="card-title"><i class="tim-icons icon-send text-success"></i> 12,100</h3>
        </div>
        <div class="card-body">
          <div class="chart-area">
            <canvas id="chartLineGreen"></canvas>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <h2 class="card-title">P-Rep Locations</h2>
          <p class="card-category">Distribution of P-Rep Nodes</p>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <div class="table-responsive">
                <table class="table">
                  <tbody>
                  <tr>
                    <td>
                      <div class="flag">
                        <img src="{% static 'dashboard/img/US.png' %}" alt="flag">
                      </div>
                    </td>
                    <td>USA</td>
                    <td class="text-right">
                      2.920
                    </td>
                    <td class="text-right">
                      53.23%
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="flag">
                        <img src="{% static 'dashboard/img/DE.png' %}" alt="flag">
                      </div>
                    </td>
                    <td>Germany</td>
                    <td class="text-right">
                      1.300
                    </td>
                    <td class="text-right">
                      20.43%
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="flag">
                        <img src="{% static 'dashboard/img/AU.png' %}" alt="flag">
                      </div>
                    </td>
                    <td>Australia</td>
                    <td class="text-right">
                      760
                    </td>
                    <td class="text-right">
                      10.35%
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="flag">
                        <img src="{% static 'dashboard/img/GB.png' %}" alt="flag">
                      </div>
                    </td>
                    <td>United Kingdom</td>
                    <td class="text-right">
                      690
                    </td>
                    <td class="text-right">
                      7.87%
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="flag">
                        <img src="{% static 'dashboard/img/RO.png' %}" alt="flag">
                      </div>
                    </td>
                    <td>Romania</td>
                    <td class="text-right">
                      600
                    </td>
                    <td class="text-right">
                      5.94%
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="flag">
                        <img src="{% static 'dashboard/img/BR.png' %}" alt="flag">
                      </div>
                    </td>
                    <td>Brasil</td>
                    <td class="text-right">
                      550
                    </td>
                    <td class="text-right">
                      4.34%
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="col-md-6 ml-auto mr-auto">
              <div id="worldMap" style="height: 300px;"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- ICX Price -->
  <div class="row">
    <div class="col-12">
      <div class="card">

        <!-- Card Header -->
        <div class="card-header">
          <div class="row">
            <div class="col-sm-6 text-left"><h2 class="card-title">ICX Price</h2></div>
            <div class="col-sm-6 rate">
              <div class="btn-group btn-group-toggle float-right currency" data-toggle="buttons">
                <label class="btn btn-sm btn-primary btn-simple active" id="0">
                  <input type="radio" name="options" checked>
                  <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block" onclick="toggleCurrency('BTC');">BTC</span>
                  <span class="d-block d-sm-none" onclick="toggleCurrency('BTC');">BTC</span>
                </label>
                <label class="btn btn-sm btn-primary btn-simple" id="1">
                  <input type="radio" class="d-none d-sm-none" name="options">
                  <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block" onclick="toggleCurrency('ETH');">ETH</span>
                  <span class="d-block d-sm-none" onclick="toggleCurrency('ETH');">ETH</span>
                </label>
                <label class="btn btn-sm btn-primary btn-simple" id="2">
                  <input type="radio" class="d-none" name="options">
                  <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block" onclick="toggleCurrency('USD');">USD</span>
                  <span class="d-block d-sm-none" onclick="toggleCurrency('USD');">USD</span>
                </label>
              </div>
            </div>
          </div>
        </div>

        <!-- Card Body -->
        <div class="card-body">
          <div class="part rates">

            <p class="icx-group">
              <span class="icx">1<em>ICX</em></span> <span class="same">=</span>
              <span class="eth" id="eth">0<em>BTC</em></span>
            </p>

            <ul class="content half market-vol-wrap">
              <li class="left">
                <p class="subTitle">Marketcap</p>
                <p><em>B</em>0<em>K</em></p>
              </li>
              <li class="right">
                <p class="subTitle">Volume</p>
                <p><em>B</em>0</p>
              </li>
            </ul>
          </div>
        </div>


      </div>
    </div>
  </div>


  <!-- ICX Market Chart -->
  <div class="row">
    <div class="col-12">
      <div class="card card-chart">
        <!-- Card Header -->
        <div class="card-header">
          <div class="row">
            <div class="col-sm-6 text-left">
              <h2 class="card-title">ICX Chart</h2>
            </div>
            <div class="col-sm-6 duration">
              <div class="btn-group btn-group-toggle float-right" data-toggle="buttons">
                <label class="btn btn-sm btn-primary btn-simple active" id="0">
                  <input type="radio" name="options" checked>
                  <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block" onclick="toggleDuration('DAY');">Day</span>
                  <span class="d-block d-sm-none" onclick="toggleDuration('DAY');">24H</span>
                </label>
                <label class="btn btn-sm btn-primary btn-simple" id="1">
                  <input type="radio" class="d-none d-sm-none" name="options">
                  <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block" onclick="toggleDuration('WEEK');">Week</span>
                  <span class="d-block d-sm-none" onclick="toggleDuration('WEEK');">7D</span>
                </label>
                <label class="btn btn-sm btn-primary btn-simple" id="2">
                  <input type="radio" class="d-none" name="options">
                  <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block" onclick="toggleDuration('MONTH');">Month</span>
                  <span class="d-block d-sm-none" onclick="toggleDuration('MONTH');">30D</span>
                </label>
              </div>
            </div>
          </div>
        </div>
        <!-- Card Body -->
        <div class="card-body">
						<div class="chart">
						  <canvas class="chartCanvas" id="chartCanvas"></canvas>
						</div>
        </div>
      </div>
    </div>
  </div>

  <!-- DAPPs Market Cap -->
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h2 class="card-title">Dapps Market Cap</h2>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-typeI">
              <thead class="text-primary">
              <tr>
                <th class="text-center">#</th>
                <th>Token</th>
                <th>Price</th>
                <th>% Change</th>
                <th>Volume (24h)</th>
                <th>Market Cap</th>
              </tr>
              </thead>
              <tbody>

              <tr>
                <td class="text-center">
                  <div class="photo">
                    <img src="{% static 'dashboard/img/ac3.jpg' %}" alt="photo">
                  </div>
                </td>
                <td>AC3 (AC3)<p></p></td>
                <td><p>-<em>USD</em></p><p>-<em>ICX</em></p><p>-<em>BTC</em></p><p>-<em>ETH</em></p></td>
                <td>+5%</td>
                <td>500,000 USD</td>
                <td>18,000,000 USD</td>
              </tr>

              <tr>
                <td class="text-center">
                  <div class="photo">
                    <img src="{% static 'dashboard/img/mecacoin.png' %}" alt="photo">
                  </div>
                </td>
                <td>MECA Coin (MCA)<p></p></td>
                <td><p>-<em>USD</em></p><p>-<em>ICX</em></p><p>-<em>BTC</em></p><p>-<em>ETH</em></p></td>
                <td>+5%</td>
                <td>500,000 USD</td>
                <td>18,000,000 USD</td>
              </tr>

              <tr>
                <td class="text-center">
                  <div class="photo">
                    <img src="{% static 'dashboard/img/zensports.jpg' %}" alt="photo">
                  </div>
                </td>
                <td>SportToken (SPORT)<p></p></td>
                <td><p>-<em>USD</em></p><p>-<em>ICX</em></p><p>-<em>BTC</em></p><p>-<em>ETH</em></p></td>
                <td>+5%</td>
                <td>500,000 USD</td>
                <td>18,000,000 USD</td>
              </tr>

              <tr>
                <td class="text-center">
                  <div class="photo">
                    <img src="{% static 'dashboard/img/webloc.jpg' %}" alt="photo">
                  </div>
                </td>
                <td>weBloc (WOK)<p></p></td>
                <td><p>-<em>USD</em></p><p>-<em>ICX</em></p><p>-<em>BTC</em></p><p>-<em>ETH</em></p></td>
                <td>+5%</td>
                <td>500,000 USD</td>
                <td>18,000,000 USD</td>
              </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>


{% endblock %}

{% block extra_js %}

  <script src="{% static 'dashboard/js/chartjs.min.js' %}"></script>
  <script src="{% static 'dashboard/js/chart.bundle.min.js' %}"></script>
  <script src="{% static 'dashboard/js/coininfo.js' %}"></script>

  <script src="{% static 'dashboard/js/jquery-jvectormap.js' %}"></script>

  <script src="{% static 'dashboard/js/demo.js' %}"></script>

  <script>
    $(document).ready(function() {
        demo.initDashboardPageCharts();
        demo.initVectorMap();
    });
  </script>

{% endblock %}