{% load el_pagination_tags %}

{% if request.is_ajax %}{% paginate prep_all %}{% endif %}
<table class="table ranking" style="margin-bottom:0px!important;">
{% for prep in prep_all %}
<tr>
  <td width="8%">{{ prep.index }}</td>
  <td width="10%">{{ prep.name }}</td>
  <td width="10%">{{ prep.country }}</td>
  <td width="10%" id="grade">{{ prep.grade }}</td>
  <td width="10%" id="irep">{{ prep.irep }}</td>
  <td width="10%" id="stake">{{ prep.stake }}</td>
  <td width="10%" id="delegated">{{ prep.delegated }}</td>
  <td width="17%" id="validatedBlocks">{{ prep.validatedBlocks }}</td>
  <td width="15%" id="totalBlocks">{{ prep.totalBlocks }}</td>
</tr>
{% endfor %}
</table>