{% load el_pagination_tags %}

{% with preps.preps as preps_all %}
{% paginate preps_all %}
{% for prep in preps.preps %}
<tr>
  <td>{{ forloop.counter }}</td>
  <td>{{ prep.name }}</td>
  <td>{{ prep.country }}</td>
  <td id="grade">{{ prep.grade }}</td>
  <td id="irep">{{ prep.irep }}</td>
  <td id="stake">{{ prep.stake }}</td>
  <td id="delegated">{{ prep.delegated }}</td>
  <td id="validatedBlocks">{{ prep.validatedBlocks }}</td>
  <td id="totalBlocks">{{ prep.totalBlocks }}</td>
</tr>
{% endfor %}
{% endwith %}
{% show_pages %}