{% extends 'base.html' %}
{% load static i18n %}
{% block extra_head %}
  <link href="{% static 'dashboard/css/preplist.css' %}" rel="stylesheet"/>
{% endblock %}
{% block title %}P-REP LISTING{% endblock %}
{% block section %}P-REP LISTING{% endblock %}
{% block content %}

<div class="row">
  <!-- Block Producer Ranking -->
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h2 class="card-title">P-Rep Rankings</h2>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table ranking">
            <thead class="text-primary">
            <tr>
              <th>Rank</th>
              <th>Logo</th>
              <th>Block Producer</th>
              <th>ICX Votes</th>
              <th>Voters</th>
              <th>Percent</th>
              <th>Daily Reward</th>
              <th>Location</th>
            </tr>
            </thead>
            <tbody>

            <tr>
              <td>1</td>
              <td>
                <div class="photo">
                  <img src="{% static 'dashboard/img/iconation.png' %}" alt="photo">
                </div>
              </td>
              <td>ICONation</td>
              <td>6,168,567</td>
              <td>5,867</td>
              <td>2.01%</td>
              <td>7,288 ICX</td>
              <td>Paris</td>
            </tr>

            <tr>
              <td>2</td>
              <td>
                <div class="photo">
                  <img src="{% static 'dashboard/img/noris.png' %}" alt="photo">
                </div>
              </td>
              <td>Noris</td>
              <td>6,168,567</td>
              <td>5,667</td>
              <td>2.00%</td>
              <!--
              <td class="pl-4">
                <div class="progress-container progress-sm">
                  <div class="progress">
                    <span class="progress-value">60%</span>
                    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                         aria-valuemax="100" style="width: 60%;"></div>
                  </div>
                </div>
              </td>
              -->
              <td>7,288 ICX
              </td>
              <td>San Francisco</td>
            </tr>

            <tr>
              <td>3</td>
              <td>
                <div class="photo">
                  <img src="{% static 'dashboard/img/draiconball.png' %}" alt="photo">
                </div>
              </td>
              <td>Draicon Ball</td>
              <td>6,168,567</td>
              <td>5,667</td>
              <td>1.99%</td>
              <td>7,288 ICX
              </td>
              <td>Seoul</td>
            </tr>

            <tr>
              <td>4</td>
              <td>
                <div class="photo">
                  <img src="{% static 'dashboard/img/iconsweden.png' %}" alt="photo">
                </div>
              </td>
              <td>ICON Sweden</td>
              <td>6,168,567</td>
              <td>5,667</td>
              <td>1.98%</td>
              <td>7,288 ICX
              </td>
              <td>Sweden</td>
            </tr>

            <tr>
              <td>5</td>
              <td>
                <div class="photo">
                  <img src="{% static 'dashboard/img/iconode.png' %}" alt="photo">
                </div>
              </td>
              <td>ICONode</td>
              <td>1,234,567</td>
              <td>1,221</td>
              <td>1.93%</td>
              <td>7,288 ICX
              </td>
              <td>Puerto Rico</td>
            </tr>

            <tr>
              <td>6</td>
              <td>
                <div class="photo">
                  <img src="{% static 'dashboard/img/velic.png' %}" alt="photo">
                </div>
              </td>
              <td>Velic</td>
              <td>1,088,331</td>
              <td>998</td>
              <td>1.91%</td>
              <td>7,288 ICX
              </td>
              <td>Singapore</td>
            </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}