{% extends 'base.html' %}
{% load static %}
{% block extra_head %}
  <link href="{% static 'resources/css/resources.css' %}" rel="stylesheet"/>
  <style>
    .collapsing {
      transition: none !important;
    }

    .sidebar .nav li.active > a[data-toggle="collapse"]:before {
      left: -5px !important;
    }

    .sidebar .nav li.active > a:not([data-toggle="collapse"]):before, .off-canvas-sidebar .nav li.active > a:not([data-toggle="collapse"]):before {
      top: 18px !important;
    }

    li.active span {
      color: #FFFFFF !important;
    }

  </style>
  <script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function() {
      var nightmode = '{{ nightmode }}';
      set_nightmode(nightmode);
    });
  </script>
{% endblock %}
{% block title %}Collateral{% endblock %}
{% block section %}Collateral{% endblock %}

{% block content %}

  <h3 class="title mt-5">Papers</h3>

  <div class="card-body">
    <div class="row">
      <div class="col-sm-4 mb-5">
        <h3 class="mt-5">White Paper</h3>
        <h4><p><a href="https://icon.foundation/resources/whitepaper/ICON-Whitepaper-EN-Draft.pdf" target="_blank">ICON
          Whitepaper</a></p></h4>
      </div>
      <div class="col-sm-4 mb-5">
        <h3 class="mt-5">Yellow Paper</h3>
        <h4><p><a
            href="https://icon.foundation/resources/file/ICON_Yellowpaper_ICONstitution_and_Governance_EN_V1.0.pdf?v=180914"
            target="_blank">ICONstitution & Governance</a></p></h4>
        <h4><p><a href="https://icon.foundation/resources/file/ICON_Yellowpaper_Transactionfee_EN_V1.0.pdf"
                  target="_blank">Transaction Fee and SCORE Operation Policy</a></p></h4>
        <h4><p><a
            href="https://icon.foundation/resources/file/ICON_Yellowpaper_ICON_Incentives_Scoring_System_EN_V1.0.pdf">ICON
          Incentives Scoring System (IISS)</a></p></h4>
      </div>
      <div class="col-sm-4 mb-5">
        <h3 class="mt-5">ICONSENSUS</h3>
        <h4><p><a href="https://icon.foundation/download/ICON_P-Rep_Pre-registration_Guide_EN_V1.0.pdf">P-Rep
          Pre-registration Guide</a></p></h4>
        <h4><p><a href="https://m.icon.foundation/download/ICON_Election_Introduction_EN_V1.0.pdf">ICON Election
          Introduction</a></p></h4>
        <h4><p><a
            href="https://m.icon.foundation/download/Introduction_for_Public_Representative_of_ICON_Network_EN_V1.0.pdf">Public
          Representative Introduction</a></p></h4>
      </div>
    </div>
  </div>


  <h3 class="title mt-5">Downloads</h3>
  <div class="card-body">

    <div class="row">
      <div class="col-sm-4 mb-5">
        <h3 class="mt-5">Wallets</h3>
        <h4><p><a href="https://icon.foundation/resources/whitepaper/ICON-Whitepaper-EN-Draft.pdf" target="_blank">ICON
          Whitepaper</a></p></h4>
      </div>
      <div class="col-sm-4 mb-5">
        <h3 class="mt-5">ICX Symbol</h3>
        <h4><p><a
            href="https://icon.foundation/resources/file/ICON_Yellowpaper_ICONstitution_and_Governance_EN_V1.0.pdf?v=180914"
            target="_blank">ICONstitution & Governance</a></p></h4>
        <h4><p><a href="https://icon.foundation/resources/file/ICON_Yellowpaper_Transactionfee_EN_V1.0.pdf"
                  target="_blank">Transaction Fee and SCORE Operation Policy</a></p></h4>
        <h4><p><a
            href="https://icon.foundation/resources/file/ICON_Yellowpaper_ICON_Incentives_Scoring_System_EN_V1.0.pdf">ICON
          Incentives Scoring System (IISS)</a></p></h4>
      </div>
      <div class="col-sm-4 mb-5">
        <h3 class="mt-5">ICONSENSUS</h3>
        <h4><p><a href="https://icon.foundation/download/ICON_P-Rep_Pre-registration_Guide_EN_V1.0.pdf">P-Rep
          Pre-registration Guide</a></p></h4>
        <h4><p><a href="https://m.icon.foundation/download/ICON_Election_Introduction_EN_V1.0.pdf">ICON Election
          Introduction</a></p></h4>
        <h4><p><a
            href="https://m.icon.foundation/download/Introduction_for_Public_Representative_of_ICON_Network_EN_V1.0.pdf">Public
          Representative Introduction</a></p></h4>
      </div>
    </div>
  </div>

  <h3 class="title mt-5">Videos</h3>

  <h3 class="mt-5">Events</h3>

  <div class="card-body">
    <div class="row">
      <div class="col-md-4 mb-3">
        <div class="embed-responsive embed-responsive-4by3">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/IrdEJQb7X_4?rel=0"></iframe>
        </div>
        <p><h4>2018 SIDiF - ICONLOOP Showcases Blockchain Services</h4></p>
        <p><h5>Published on Nov 5, 2018</h5></p>
      </div>
      <div class="col-md-4 mb-3">
        <div class="embed-responsive embed-responsive-4by3">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/B0tmKDdMMW0?rel=0"></iframe>
        </div>
        <p><h4>Consensus 2018</h4></p>
        <p><h5>Published on Jun 27, 2018</h5></p>
      </div>
      <div class="col-md-4 mb-3">
        <div class="embed-responsive embed-responsive-4by3">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/gOF0QljFyHQ?rel=0"></iframe>
        </div>
        <p><h4>ICON annual summit 2018 the genesis</h4></p>
        <p><h5>Streamed live on Jan 31, 2018</h5></p>
      </div>
    </div>
  </div>


  <br><br><h3 class="mt-5">Coverage</h3>

  <div class="card-body">
    <div class="row">
      <div class="col-md-4 mb-3">
        <div class="embed-responsive embed-responsive-4by3">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/QLAnYhWiet4?rel=0"></iframe>
        </div>
        <p><h4>ICON ICX - Too Big to Fail? - Top 10 Reasons to Invest in 2019 – Ultimate Review</h4></p>
        <p><h5>Published on Feb 4, 2019</h5></p>
      </div>
      <div class="col-md-4 mb-3">
        <div class="embed-responsive embed-responsive-4by3">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/eucdDASlbv8?rel=0"></iframe>
        </div>
        <p><h4>ICON ICX Explained! (Ethereum Developer Reviews ICON ICX!)</h4></p>
        <p><h5>Published on Jan 29, 2019</h5></p>
      </div>
      <div class="col-md-4 mb-3">
        <div class="embed-responsive embed-responsive-4by3">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/I103LMWvLsg?rel=0"></iframe>
        </div>
        <p><h4>ICON [ICX] - 3 Joint Blockchain Apps with Seoul Government - When Moon?</h4></p>
        <p><h5>Published on Nov 29, 2018</h5></p>
      </div>
    </div>
  </div>

{% endblock %}

{% block extra_js %}

  <!-- toggle active class for nav, put to common js -->
  <script>
    $(document).ready(function () {
      $('.nav > li').each(function () {
        if ($(this).parent().parent().parent().is('li'))
          $(this).parent().parent().collapse();

        /*
        if($(this).find('span.section').text() == document.title)
          $(this).addClass('active');
        */

        ($(this).find('span.section')).each(function () {
          if ($(this).text() == document.title)
            $(this).parent().parent().addClass('active');
        });

      });
    });
  </script>

{% endblock %}