{% extends 'base.html' %}
{% load static %}
{% block extra_head %}
  <link href="{% static 'resources/css/resources.css' %}" rel="stylesheet"/>
{% endblock %}
{% block title %}Collateral{% endblock %}
{% block section %}Collateral{% endblock %}
{% block content %}
  {% load el_pagination_tags %}

  <!-- PAPERS -->
  <h3 class="title mt-5">Papers</h3>
  <div class="card-body">
    <div class="row">
      <div class="col-sm-4 mb-5">
        <h3 class="mt-5">White Paper</h3>
        <h4><p><a href="https://icon.foundation/resources/whitepaper/ICON-Whitepaper-EN-Draft.pdf" target="_blank">ICON
          Whitepaper</a></p></h4>
      </div>
      <div class="col-sm-4 mb-5">
        <h3 class="mt-5">Yellow Paper</h3>
        <h4><p><a
            href="https://icon.foundation/resources/file/ICON_Yellowpaper_ICONstitution_and_Governance_EN_V1.0.pdf?v=180914"
            target="_blank">ICONstitution & Governance</a></p></h4>
        <h4><p><a href="https://icon.foundation/resources/file/ICON_Yellowpaper_Transactionfee_EN_V1.0.pdf"
                  target="_blank">Transaction Fee and SCORE Operation Policy</a></p></h4>
        <h4><p><a
            href="https://icon.foundation/resources/file/ICON_Yellowpaper_ICON_Incentives_Scoring_System_EN_V1.0.pdf">ICON
          Incentives Scoring System (IISS)</a></p></h4>
      </div>
      <div class="col-sm-4 mb-5">
        <h3 class="mt-5">ICONSENSUS</h3>
        <h4><p><a href="https://icon.foundation/download/ICON_P-Rep_Pre-registration_Guide_EN_V1.0.pdf">P-Rep
          Pre-registration Guide</a></p></h4>
        <h4><p><a href="https://m.icon.foundation/download/ICON_Election_Introduction_EN_V1.0.pdf">ICON Election
          Introduction</a></p></h4>
        <h4><p><a
            href="https://m.icon.foundation/download/Introduction_for_Public_Representative_of_ICON_Network_EN_V1.0.pdf">Public
          Representative Introduction</a></p></h4>
      </div>
    </div>
  </div>

  <!-- DOWNLOADS -->
  <h3 class="title mt-5">Downloads</h3>
  <div class="card-body">
    <div class="row">
      <div class="col-sm-4 mb-5">
        <h3 class="mt-5">Wallets</h3>
        <h4><p>
          <a href="https://chrome.google.com/webstore/detail/iconex/flpiciilemghbmfalicajoolhkkenfel?hl=en"
             target="_blank">
            ICONex - Chrome Extension
          </a>
        </p></h4>
        <h4><p>
          <a href="https://itunes.apple.com/us/app/iconex-icon-wallet/id1368441529" target="_blank">
            ICONex - iOS
          </a>
        </p></h4>
        <h4><p>
          <a href="https://play.google.com/store/apps/details?id=foundation.icon.iconex" target="_blank">
            ICONex - Android
          </a>
        </p></h4>
      </div>
      <div class="col-sm-4 mb-5">
        <h3 class="mt-5">Media Kit</h3>
        <h4><p>
          <a href="{% static 'resources/download/icon_logo_set.zip' %}" target="_blank">
            ICON Logo Set
          </a>
        </p></h4>
        <h4><p>
          <a href="{% static 'resources/download/iconloop_logo_set.zip' %}" target="_blank">
            ICONLOOP Logo Set
          </a>
        </p></h4>
      </div>
    </div>
  </div>

  <!-- VIDEOS -->
  <h3 class="title mt-5">Videos</h3>
  <h3 class="mt-5">Events</h3>
  <div class="endless_page_template">
    {% include "resources/video_events_page.html" %}
  </div>
  <br><br>
  <h3 class="mt-5">Interviews</h3>
  <div class="endless_page_template">
    {% include "resources/video_interviews_page.html" %}
  </div>

{% endblock %}

{% block extra_js %}
  <!-- toggle active class for nav, put to common js -->
  <script>
    $(document).ready(function () {
      $('.nav > li').each(function () {
        if ($(this).parent().parent().parent().is('li'))
          $(this).parent().parent().collapse();
        ($(this).find('span.section')).each(function () {
          if ($(this).text() == document.title)
            $(this).parent().parent().addClass('active');
        });
      });
    });
  </script>
  <script src="{% static 'el-pagination/js/el-pagination.js' %}"></script>
  <script>$.endlessPaginate();</script>
{% endblock %}