{% extends 'base.html' %}
{% load static %}
{% block extra_head %}
  <link href="{% static 'resources/css/resources.css' %}" rel="stylesheet"/>
{% endblock %}
{% block title %}Resources{% endblock %}
{% block section %}Resources{% endblock %}

{% block content %}

<div class="card-body">
    <div class="row">
        <div class="col-sm-4">
            <h3 class="mt-5">BROCHURES</h3>
            <p><a href="#">Link one</a></p>
            <p><a href="#">Link one</a></p>
        </div>
        <div class="col-sm-4">
            <h3 class="mt-5">ONE-PAGERS</h3>
            <p><a href="#">Link one</a></p>
            <p><a href="#">Link one</a></p></div>
        <div class="col-sm-4">
            <h3 class="mt-5">DEEP DIVES</h3>
            <p><a href="#">Link one</a></p>
            <p><a href="#">Link one</a></p></div>
    </div>
</div>


{% endblock %}

{% block extra_js %}

  <!-- toggle active class for nav, put to common js -->
  <script>
    $(document).ready(function() {
        $('.nav > li').each(function() {
          if($(this).find('p').text() == document.title)
            $(this).addClass('active');
        });
    });
  </script>

{% endblock %}