{% extends 'base.html' %}
{% load static %}
{% block extra_head %}
  <link href="{% static 'resources/css/resources.css' %}" rel="stylesheet"/>
{% endblock %}
{% block title %}Resources{% endblock %}
{% block section %}Resources{% endblock %}

{% block content %}

<h3 class="title mt-5">Papers</h3>

<div class="card-body">
    <div class="row">
        <div class="col-sm-4">
            <h3 class="mt-5">White Paper</h3>
            <p><a href="https://icon.foundation/resources/whitepaper/ICON-Whitepaper-EN-Draft.pdf" target="_blank">ICON Whitepaper</a></p>
        </div>
        <div class="col-sm-4">
            <h3 class="mt-5">Yellow Paper</h3>
            <p><a href="https://icon.foundation/resources/file/ICON_Yellowpaper_ICONstitution_and_Governance_EN_V1.0.pdf?v=180914" target="_blank">ICONstitution & Governance</a></p>
            <p><a href="https://icon.foundation/resources/file/ICON_Yellowpaper_Transactionfee_EN_V1.0.pdf" target="_blank">Transaction Fee and SCORE Operation Policy</a></p>
            <p><a href="https://icon.foundation/resources/file/ICON_Yellowpaper_ICON_Incentives_Scoring_System_EN_V1.0.pdf">ICON Incentives Scoring System (IISS)</a></p>
        </div>
        <div class="col-sm-4">
            <h3 class="mt-5">ICONSENSUS</h3>
            <p><a href="https://icon.foundation/download/ICON_P-Rep_Pre-registration_Guide_EN_V1.0.pdf">P-Rep Pre-registration Guide</a></p>
            <p><a href="https://m.icon.foundation/download/ICON_Election_Introduction_EN_V1.0.pdf">ICON Election Introduction</a></p>
            <p><a href="https://m.icon.foundation/download/Introduction_for_Public_Representative_of_ICON_Network_EN_V1.0.pdf">Public Representative Introduction</a></p>
        </div>
    </div>
</div>

<br><br><h3 class="title mt-5">Videos</h3>

<h3 class="mt-5">Events</h3>

<div class="card-body">
    <div class="row">
        <div class="col-4">
            <div class="embed-responsive embed-responsive-1by1">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/IrdEJQb7X_4?rel=0"></iframe>
            </div>
            <p><h4>2018 SIDiF - ICONLOOP Showcases Blockchain Services</h4></p>
            <p><h5>Published on Nov 5, 2018</h5></p>
        </div>
        <div class="col-4">
            <div class="embed-responsive embed-responsive-1by1">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/B0tmKDdMMW0?rel=0"></iframe>
            </div>
            <p><h4>Consensus 2018</h4></p>
            <p><h5>Published on Jun 27, 2018</h5></p>
        </div>
        <div class="col-4">
            <div class="embed-responsive embed-responsive-1by1">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/gOF0QljFyHQ?rel=0"></iframe>
            </div>
            <p><h4>ICON annual summit 2018 the genesis</h4></p>
            <p><h5>Streamed live on Jan 31, 2018</h5></p>
        </div>
    </div>
</div>


<br><br><h3 class="mt-5">Coverage</h3>

<div class="card-body">
    <div class="row">
        <div class="col-4">
            <div class="embed-responsive embed-responsive-1by1">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/QLAnYhWiet4?rel=0"></iframe>
            </div>
            <p><h4>ICON ICX - Too Big to Fail? - Top 10 Reasons to Invest in 2019 – Ultimate Review</h4></p>
            <p><h5>Published on Feb 4, 2019</h5></p>
        </div>
        <div class="col-4">
            <div class="embed-responsive embed-responsive-1by1">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/B0tmKDdMMW0?rel=0"></iframe>
            </div>
            <p><h4>Consensus 2018</h4></p>
            <p><h5>Published on Jun 27, 2018</h5></p>
        </div>
        <div class="col-4">
            <div class="embed-responsive embed-responsive-1by1">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/gOF0QljFyHQ?rel=0"></iframe>
            </div>
            <p><h4>ICON annual summit 2018 the genesis</h4></p>
            <p><h5>Streamed live on Jan 31, 2018</h5></p>
        </div>
    </div>
</div>



{% endblock %}

{% block extra_js %}

<!-- toggle active class for nav, put to common js -->
<script>
$(document).ready(function() {
    $('.nav > li').each(function() {
      if($(this).find('p').text() == document.title)
        $(this).addClass('active');
    });
});
</script>

{% endblock %}