{% load el_pagination_tags %}
<div class="card-body">
  <div class="row">
    {% paginate 4 news using "news_page" %}
    {% for new in news %}
    <div class="col-md-3 mb-3">
      <a href="{{ new.news_link }}" target="_blank">
        <img src="{{ new.news_logo.url }}" style="width: 80px; height: 80px;">
        <p><h4>{{ new.news_site }}</h4></p>
      </a>
      <p><h4><a href="{{ new.news_link }}" target="_blank">{{ new.news_title }}</a></h4></p>
      <p><h5>{{ new.news_date }}</h5></p>
    </div>
    {% endfor %}
  </div>
  <div class="text-center">
    <div class="pagination">
      {% show_pages %}
    </div>
  </div>
</div>