{% extends 'base.html' %}
{% load static i18n %}
{% block extra_head %}
  <link href="{% static 'resources/css/resources.css' %}" rel="stylesheet"/>
{% endblock %}
{% block title %}Press{% endblock %}
{% block section %}{% trans 'Press' %}{% endblock %}

{% block content %}
  <h3 class="title mt-5">Press</h3>

  <h3 class="mt-5">In the News</h3>
  <div class="card-body">
    <div class="row">
      {% for new in news %}
      <div class="col-md-3 mb-3">
        <a href="{{ new.news_link }}" target="_blank">
          <img src="{{ new.news_logo.url }}" style="width: 80px; height: 80px;">
          <p><h4>{{ new.news_site }}</h4></p>
        </a>
        <p><h4><a href="{{ new.news_link }}" target="_blank">{{ new.news_title }}</a></h4></p>
        <p><h5>{{ new.news_date }}</h5></p>
      </div>
      {% endfor %}
    </div>

    <!--
    <span class="step-links pagination">
      {% if news.has_previous %}
          <a href="?page1={{ news.previous_page_number }}"> previous </a>
      {% endif %}
      <span class="current">
          Page {{ news.number }} of {{ news.paginator.num_pages }}
      </span>
      {% if news.has_next %}
          <a href="?page1={{ news.next_page_number }}"> next </a>
      {% endif %}
    </span>
    -->
  <div class="text-center">
    <div class="pagination">
      <a href="#">&laquo;</a>
      <a href="#">1</a>
      <a class="active" href="#">2</a>
      <a href="#">3</a>
      <a href="#">4</a>
      <a href="#">5</a>
      <a href="#">6</a>
      <a href="#">&raquo;</a>
    </div>
  </div>


  </div>

  <br><br>

  <h3 class="mt-5">Press Releases</h3>
  <div class="card-body">
    <div class="row">
      {% for press in presses %}
      <div class="col-md-3 mb-3">
        <p><h4><a href="{{ press.press_link }}" target="_blank">{{ press.press_title }}</a></h4></p>
        <p><h5>{{ press.press_date }}</h5></p>
      </div>
      {% endfor %}
    </div>

    <!--
    <span class="step-links pagination">
      {% if presses.has_previous %}
          <a href="?page2={{ presses.previous_page_number }}"> previous </a>
      {% endif %}
      <span class="current">
          Page {{ presses.number }} of {{ presses.paginator.num_pages }}
      </span>
      {% if presses.has_next %}
          <a href="?page2={{ presses.next_page_number }}"> next </a>
      {% endif %}
    </span>
    -->

    {% if presses.has_other_pages %}
      <ul class="pagination">
        {% if presses.has_previous %}
          <li><a href="?page2={{ presses.previous_page_number }}">&laquo;</a></li>
        {% else %}
          <li class="disabled"><span>&laquo;</span></li>
        {% endif %}
        {% for i in presses.paginator.page_range %}
          {% if presses.number == i %}
            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
          {% else %}
            <li><a href="?page2={{ i }}">{{ i }}</a></li>
          {% endif %}
        {% endfor %}
        {% if presses.has_next %}
          <li><a href="?page2={{ presses.next_page_number }}">&raquo;</a></li>
        {% else %}
          <li class="disabled"><span>&raquo;</span></li>
        {% endif %}
      </ul>
    {% endif %}

  </div>



{% endblock %}

{% block extra_js %}

  <!-- toggle active class for nav, put to common js -->
  <script>
    $(document).ready(function () {
      $('.nav > li').each(function () {
        if ($(this).parent().parent().parent().is('li'))
          $(this).parent().parent().collapse();
        if ($(this).find('span.section').text() == document.title)
          $(this).addClass('active');
      });
    });
  </script>

{% endblock %}