{% extends 'base.html' %}
{% load static i18n %}
{% block extra_head %}
  <link href="{% static 'resources/css/resources.css' %}" rel="stylesheet"/>
{% endblock %}
{% block title %}Press{% endblock %}
{% block section %}{% trans 'Press' %}{% endblock %}

{% block content %}
{% load el_pagination_tags %}
  <h3 class="title mt-5">Press</h3>

  <!-- IN THE NEWS -->
  <h3 class="mt-5">In the News</h3>
  <div class="card-body">
    <div class="row">
      {% paginate 4 news %}
      {% for new in news %}
      <div class="col-md-3 mb-3">
        <a href="{{ new.news_link }}" target="_blank">
          <img src="{{ new.news_logo.url }}" style="width: 80px; height: 80px;">
          <p><h4>{{ new.news_site }}</h4></p>
        </a>
        <p><h4><a href="{{ new.news_link }}" target="_blank">{{ new.news_title }}</a></h4></p>
        <p><h5>{{ new.news_date }}</h5></p>
      </div>
      {% endfor %}
    </div>
    {% show_pages %}

    <!-- paginate
    {% if news.has_other_pages %}
    <div class="text-center">
      <div class="pagination">
        {% if news.has_previous %}
          <a href="?page1={{ news.previous_page_number }}">&laquo;</a>
        {% else %}
          <a class="disabled">&laquo;</a>
        {% endif %}

        {% for i in news.paginator.page_range %}
          {% if news.number == i %}
            <a class="active" href="#">{{ i }}</a>
          {% else %}
            <a href="?page1={{ i }}">{{ i }}</a>
          {% endif %}
        {% endfor %}
        {% if news.has_next %}
          <a href="?page1={{ news.next_page_number }}">&raquo;</a>
        {% else %}
          <a class="disabled">&raquo;</a>
        {% endif %}
      </div>
    </div>
    {% endif %}
    -->

  </div>

  <br><br>

  <!-- PRESS RELEASES -->
  <h3 class="mt-5">Press Releases</h3>
  <div class="card-body">
    <div class="row">
      {% paginate 2 presses using "press" %}
      {% for press in presses %}
      <div class="col-md-3 mb-3">
        <p><h4><a href="{{ press.press_link }}" target="_blank">{{ press.press_title }}</a></h4></p>
        <p><h5>{{ press.press_date }}</h5></p>
      </div>
      {% endfor %}
    </div>
    {% show_pages %}

    <!-- paginate
    {% if presses.has_other_pages %}
    <div class="text-center">
      <div class="pagination">
        {% if presses.has_previous %}
          <a href="?page2={{ presses.previous_page_number }}">&laquo;</a>
        {% else %}
          <a class="disabled">&laquo;</a>
        {% endif %}

        {% for i in presses.paginator.page_range %}
          {% if presses.number == i %}
            <a class="active" href="#">{{ i }}</a>
          {% else %}
            <a href="?page2={{ i }}">{{ i }}</a>
          {% endif %}
        {% endfor %}
        {% if presses.has_next %}
          <a href="?page2={{ presses.next_page_number }}">&raquo;</a>
        {% else %}
          <a class="disabled">&raquo;</a>
        {% endif %}
      </div>
    </div>
    {% endif %}
    -->

  </div>



{% endblock %}

{% block extra_js %}

  <!-- toggle active class for nav, put to common js -->
  <script>
    $(document).ready(function () {
      $('.nav > li').each(function () {
        if ($(this).parent().parent().parent().is('li'))
          $(this).parent().parent().collapse();
        if ($(this).find('span.section').text() == document.title)
          $(this).addClass('active');
      });
    });
  </script>

{% endblock %}