{% load el_pagination_tags %}
<div class="card-body">
  <div class="row">
    {% paginate 3 video_iconsensus using "video_iconsensus_page" %}
    {% for video_iconsensu in video_iconsensus %}
    <div class="col-md-4 mb-3">
      <div class="embed-responsive embed-responsive-4by3">
        <iframe class="embed-responsive-item" src="{{ video_iconsensu.video_iconsensus_link }}"></iframe>
      </div>
      <p><h4>{{ video_iconsensu.video_iconsensus_title }}</h4></p>
      <p><h5>{{ video_iconsensu.video_iconsensus_date }}</h5></p>
    </div>
    {% endfor %}
  </div>
  <div class="text-center">
    <div class="pagination">
      {% show_pages %}
    </div>
  </div>
</div>
