{% load static i18n %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>{% block title %}{% endblock %}</title>

  <link rel="icon" type="image/png" href="{% static 'favicon.ico' %}">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800" rel="stylesheet"/>
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">

  <!-- CSS -->
  <link href="{% static 'css/nucleo-icons.css' %}" rel="stylesheet"/>
  <link href="{% static 'css/base.css' %}" rel="stylesheet"/>
  {% block extra_head %}{% endblock %}

</head>


<body class="{% if nightmode == True %} {% else %} white-content {% endif %}"><!-- sidebar-mini -->

<!-- {{ nightmode }} -->

{% get_current_language as LANGUAGE_CODE %}

<div class="wrapper">
  <div class="navbar-minimize-fixed">
    <button class="minimize-sidebar btn btn-link btn-just-icon">
      <i class="tim-icons icon-align-center visible-on-sidebar-regular text-muted"></i>
      <i class="tim-icons icon-bullet-list-67 visible-on-sidebar-mini text-muted"></i>
    </button>
  </div>
  <div class="sidebar">
    <div class="sidebar-wrapper">
      <div class="logo">
        <a href="javascript:void(0)" class="simple-text logo-mini"><img src="{% static 'logo/ic.png' %}" width="26"
                                                                        height="26"
                                                                        style="margin-top: 0px; margin-left: 3px;"></a>
        <a href="javascript:void(0)" class="simple-text logo-normal">
          icon.community
        </a>
      </div>
      <ul class="nav">
        <li>
          <a href="/dashboard/">
            <i class="tim-icons"><img src="{% static 'logo/pie.png' %}" width="22" height="22"
                                      style="margin-top: -10px; margin-left: -5px;"></i>
            <p>Dashboard</p>
          </a>
        </li>
        <li>
          <a href="https://icon.community/iconsensus/" target="_blank">
            <i class="tim-icons"><img src="{% static 'logo/iconsensus.png' %}" width="27" height="27"
                                      style="margin-top: -10px; margin-left: -5px;"></i>
            <p>ICONSENSUS</p>
          </a>
        </li>
        <li>
          <a href="https://forum.icon.community/" target="_blank">
            <i class="tim-icons"><img src="{% static 'logo/forum.png' %}" width="24" height="24"
                                      style="margin-top: -10px; margin-left: -4px;"></i>
            <p>Forum</p>
          </a>
        </li>
        <li>
          <a data-toggle="collapse" href="#resourceSub">
            <i class="tim-icons"><img src="{% static 'logo/resources.png' %}" width="26" height="26"
                                      style="margin-top: -10px; margin-left: -6px;"></i>
            <p>Resources <b class="caret"></b></p>
          </a>
          <div class="collapse" id="resourceSub">
            <ul class="nav">
              <li>
                <a href="/resources/collateral/">
                  <span class="sidebar-mini-icon">C</span>
                  <span class="sidebar-normal section">Collateral</span>
                </a>
              </li>
              <li>
                <a href="/resources/press/">
                  <span class="sidebar-mini-icon">P</span>
                  <span class="sidebar-normal section">Press</span>
                </a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="main-panel">
    <!-- Navbar -->

    <nav class="navbar navbar-expand-lg navbar-absolute navbar-transparent">
      <div class="container-fluid">
        <div class="navbar-wrapper">
          <div class="navbar-minimize d-inline">
            <button class="minimize-sidebar btn btn-link btn-just-icon" rel="tooltip" data-placement="right">
              <i class="tim-icons icon-align-center visible-on-sidebar-regular"></i>
              <i class="tim-icons icon-bullet-list-67 visible-on-sidebar-mini"></i>
            </button>
          </div>
          <div class="navbar-toggle d-inline">
            <button type="button" class="navbar-toggler">
              <span class="navbar-toggler-bar bar1"></span>
              <span class="navbar-toggler-bar bar2"></span>
              <span class="navbar-toggler-bar bar3"></span>
            </button>
          </div>
          <a class="navbar-brand" href="javascript:void(0)">{% block section %}{% endblock %}</a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
                aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-bar navbar-kebab"></span>
          <span class="navbar-toggler-bar navbar-kebab"></span>
          <span class="navbar-toggler-bar navbar-kebab"></span>
        </button>

        <div class="collapse navbar-collapse" id="navigation">

          <ul class="navbar-nav ml-auto">

            <!-- language redirect -->
            <form id="language_form" action="{% url 'set_language' %}" method="post">{% csrf_token %}
            {% get_current_language as LANGUAGE_CODE %}
            <input name="next" type="hidden" value="{{ redirect_to }}">
            <input id="post_lang" name="language" value="{{ LANGUAGE_CODE }}" type="hidden">
            </form>

            <li class="nav-item ml-auto">
              <a href="javascript:void(0)" class="nav-link">
                <div class="d-none d-lg-block d-xl-block"></div>
                <a class="nav-lang en" href="javascript:void(0)" onclick="change_language('en');">EN</a>
              </a>
            </li>

            <li class="separator d-lg-none"></li>

            <li class="nav-item ml-auto">
              <a href="javascript:void(0)" class="nav-link" aria-expanded="false">
                <div class="d-none d-lg-block d-xl-block"></div>
                <a class="nav-lang ko" href="javascript:void(0)" onclick="change_language('ko');">KR</a>
              </a>
            </li>

            <li class="nav-item ml-auto">
              <a href="javascript:void(0)" class="nav-link" aria-expanded="false">
                <div class="d-none d-lg-block d-xl-block"></div>
                <a id="moon" href="#" onclick="toggle_nightmode();"><i class="{% if nightmode == True %} fas fa-moon {% else %} far fa-moon {% endif %}"></i></a>
              </a>
            </li>

          </ul>

        </div>


      </div>
    </nav>

    <!-- End Navbar -->
    <div class="content">
      {% block content %}
      {% endblock %}
    </div>
    <footer class="footer">
      <div class="container-fluid">
        <div class="copyright">
          ©
          <script>
            document.write(new Date().getFullYear())
          </script>
          icon.community
        </div>
      </div>
    </footer>
  </div>
</div>
<!--   Core JS Files   -->
<script src="{% static 'js/core/jquery.min.js' %}"></script>
<script src="{% static 'js/core/popper.min.js' %}"></script>
<script src="{% static 'js/core/bootstrap.min.js' %}"></script>
<script src="{% static 'js/plugins/perfect-scrollbar.jquery.min.js' %}"></script>
<script src="{% static 'js/black-dashboard.js' %}"></script>
{% block extra_js %}{% endblock %}

<script>

  $(document).ready(function () {
    $().ready(function () {
      $sidebar = $('.sidebar');
      $navbar = $('.navbar');
      $main_panel = $('.main-panel');
      $full_page = $('.full-page');
      $sidebar_responsive = $('body > .navbar-collapse');
      sidebar_mini_active = false;
      white_color = true;
      window_width = $(window).width();

      $('.switch-sidebar-mini input').on("switchChange.bootstrapSwitch", function () {
        var $btn = $(this);

        if (sidebar_mini_active == true) {
          $('body').removeClass('sidebar-mini');
          sidebar_mini_active = false;
          //blackDashboard.showSidebarMessage('Sidebar mini deactivated...');
        } else {
          $('body').addClass('sidebar-mini');
          sidebar_mini_active = true;
          //blackDashboard.showSidebarMessage('Sidebar mini activated...');
        }

        // we simulate the window Resize so the charts will get updated in realtime.
        var simulateWindowResize = setInterval(function () {
          window.dispatchEvent(new Event('resize'));
        }, 180);

        // we stop the simulation of Window Resize after the animations are completed
        setTimeout(function () {
          clearInterval(simulateWindowResize);
        }, 1000);
      });

      $('.switch-change-color input').on("switchChange.bootstrapSwitch", function () {
        var $btn = $(this);

        if (white_color == true) {

          $('body').addClass('change-background');
          setTimeout(function () {
            $('body').removeClass('change-background');
            $('body').removeClass('white-content');
          }, 900);
          white_color = false;
        } else {

          $('body').addClass('change-background');
          setTimeout(function () {
            $('body').removeClass('change-background');
            $('body').addClass('white-content');
          }, 900);

          white_color = true;
        }
      });

      $('.light-badge').click(function () {
        $('body').addClass('white-content');
      });

      $('.dark-badge').click(function () {
        $('body').removeClass('white-content');
      });

      // toggle language
      /*
      $('.nav-lang').click(function () {
        $('.nav-lang.active').not(this).removeClass('active');
        $(this).toggleClass('active');
      })
      */


      var lang_active = ".nav-lang"+".{{ LANGUAGE_CODE }}";
      $(lang_active).addClass('active');

      init_nightmode();

    });
  });



  function change_language(lang) {
      post_lang.value = lang;
      language_form.submit();
  }


</script>


</body>

</html>