h2.card-title {
  color: #333!important;
}

.progress {
    display: flex;
    height: .5rem;
    overflow: hidden;
    font-size: .65625rem;
    background-color: rgba(0,0,0,.3);
    border-radius: .875rem;
    box-shadow: 0 0 0 3px rgba(0,0,0,.3);
}

.progress-container.progress-sm .progress .progress-value {
    position: absolute;
    top: 0;
    left: -27px;
    /*color: #fff;*/
    color: rgba(34, 42, 66, 0.7) !important;
    font-size: .62475rem;
}

.progress-container {
    position: relative;
}

.progress-container.progress-sm {
    margin-top: 10px;
}

.progress-container .progress .progress-bar {
    border-radius: .875rem;
    box-shadow: none;
}

.progress-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    text-align: center;
    white-space: nowrap;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.table-typeI td:nth-child(3) {
    font-size: 10px;
    text-align: right;
}

[class*=table-type] td {
    border-bottom: 1px solid #e6e6e6;
    padding: 11px 20px 5px;
    vertical-align: middle;
    position: relative;
}

.table-typeI td {
    text-align: center;
}

[class*=table-type] thead tr th {
    text-align: center;
}

/* Ranking */
.table.ranking th, .table.ranking td {
    text-align: center;
}

/* ICX Price */
/*overviews*/

.content.half li{width: 50%;}
.content.half li:not(:first-child){margin-left: -5px;}

li{ list-style:none; }

.card-body .icx-group {text-align: center; font-size: 36px; font-weight: 700; color: #262626; height: 100px; line-height: 35px; border-bottom: 2px solid #1aaaba;}
.card-body .icx-group em{font-size: 28px; font-weight: 500; margin-left: 10px;}
.card-body .icx-group .same{font-size: 30px; vertical-align: middle; margin: 0 10px;}
.card-body .price{ padding: 11px 0; background: #262626; color: #fff; font-size: 40px; font-weight: 700; text-align: center; margin-top: 30px; }
.card-body .price em{font-size: 28px; font-weight: 500; margin-left: 17px;}
.card-body .chart{ margin-top: 10px;}
.card-body .chart canvas {max-width:1350px;margin:0 auto;}
.card-body .chart_com{text-align: right;}
.card-body .content { text-align: center; color: #1aaaba!important; margin: 43px 0 80px;}
.card-body .content .left{    background: -webkit-linear-gradient(#1aaaba, #1aaaba) right center no-repeat; background-size: 2px 70px;}
.card-body .content li p{ margin: 1px 0;    font-weight: 400;}
.card-body .content li p:last-child{font-size: 32px; font-weight: 700;}
.card-body .content li p:last-child em{font-size: 26px; margin-right: 13px; font-weight: 500;}
.card-body .part {position:relative;}
/*.overviews.content-wrap .screen1 .content li p:last-child em:nth-child(2){font-weight: 600;}*/

.card-body li{display: inline-block;    vertical-align: top;}
.card-body .subTitle{font-size: 28px; font-weight: 800;}