h2 {
  color: #333!important;
}

.progress {
    display: flex;
    height: .5rem;
    overflow: hidden;
    font-size: .65625rem;
    background-color: rgba(0,0,0,.3);
    border-radius: .875rem;
    box-shadow: 0 0 0 3px rgba(0,0,0,.3);
}

.progress-container.progress-sm .progress .progress-value {
    position: absolute;
    top: 0px;
    left: -27px;
    /*color: #fff;*/
    color: rgba(34, 42, 66, 0.7) !important;
    font-size: .62475rem;
}

.progress-container {
    position: relative;
}

.progress-container.progress-sm {
    margin-top: 10px;
}

.progress-container .progress .progress-bar {
    border-radius: .875rem;
    box-shadow: none;
}

.progress-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    text-align: center;
    white-space: nowrap;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.table-typeI td:nth-child(3) {
    font-size: 10px;
    text-align: right;
}

[class*=table-type] td {
    border-bottom: 1px solid #e6e6e6;
    padding: 11px 20px 5px;
    vertical-align: middle;
    position: relative;
}

.table-typeI td {
    text-align: center;
}

[class*=table-type] thead tr th {

    text-align: center;

}

/* Ranking */
.table.ranking th, .table.ranking td {
    text-align: center;
}





